body{
    margin: 10px;
    background: #f3f3f3;    
}
.content-news{
    margin-top: 15px;
}
.by{
    color: #f3f3f3;
    font-size: 10px;
}
.label-search{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}
.search{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 79px;
}

@media (max-width: 768px){
    .story{
        display: none;
    }
    .author {
        display: none;
    }
    .dateTime{
        display: none;
    }
    .title{
        font-size: 20px;
    }
}